@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
p{
    color: #757575;
    font-size: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 96px 30px 136px;
    

}

nav > h3{
    font-size: 37px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul >li{
    list-style: none;
    margin-right: 47px;
}
 .pc{
     color: #FD6E0A;
 }

 nav > ul > li > a{
     text-decoration: none;
     color: #474747;
     font-size: 18px;
 }

 #hireme , #download , #contact{
     background-color: #FD6E0A;
     color: white;
     padding: 15px 30px;
     border: 0px;
     border-radius: 5px;
     font-weight: 400;
     font-size: 18px;
 }

 header{
     background-color: #FFF8F3;
     background-image: url('../images/header_bg.png');
     background-repeat: no-repeat;
     background-position: bottom right;
     background-size: 600px;
     padding: 0;
     margin: 0;
 }

.headtext{
    padding: 55px 0px 0px 140px ;
    max-width: 500px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head > img{
    width: 420px;
    padding-right: 20px;
}

.devloper{
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px;
    margin-left: 38px;
    
}

/* main section  */


/* about us section  */

main{
    align-items: center;
    padding: 0 180px;
}
main > div > h3{
    text-align: center;
    font-size: 25px;

}
.aboutcontinar{
    background-color: #FFF8F3;
    margin-top: 60px;
    align-items: center;
    padding: 60px 130px;
    margin-bottom: 30px;
    
}

.contac{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contac > div > p{
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}
.contac > div > h5{
    margin-top: 0;
    color: #474747;
    text-align: center;
}
.whatdo{
    padding: 0 120px;
}
.card{
    display: flex;
}
.card > div{
    background-color: #ffffff;
    margin: 0 7px;
    padding: 30px;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #e4e4e4;
}


.myinfo{
    display: flex;
}


.fota{
    display: flex;
}