@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav > h3{
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul >li{
    list-style: none;
    margin-right: 50px;
}
 .pc{
     color: #FD6E0A;
 }

 nav > ul > li > a{
     text-decoration: none;
     color: #474747;
     font-size: 20px;
 }

 #hireme{
     background-color: #FD6E0A;
     color: white;
     padding: 15px 30px;
     border: 0px;
     border-radius: 5px;
     font-weight: bold;
     font-size: 20px;
 }